<div class="menu-container">
    <nav class='hidden mobile-menu'>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/verein' | relative_url }}">Verein</a>
        <a href="{{ '/sportangebote' | relative_url }}">Sportangebote</a>
        <a href="{{ '/sus' | relative_url }}">Verband</a>
        <a href="{{ '/statuten' | relative_url }}">Statuten</a>
        <a href="{{ '/downloads' | relative_url }}">Downloads</a>
        <a href="{{ '/kontakt' | relative_url }}">Kontakt</a>
    </nav>
</div>