 <img src="{{ '/assets/images/11_SVKT_Frauensportverein_StTheresia_3c.jpg' | relative_url }}" alt="SVKT Frauensportverein St. Theresia / Friesenberg" class="logo">
<nav class='site-navigation'>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/verein' | relative_url }}">Verein</a>
    <a href="{{ '/sportangebote' | relative_url }}">Sportangebote</a>
    <a href="{{ '/mitglieder-infos' | relative_url }}">Mitglieder-Infos</a>
    <a href="{{ '/downloads' | relative_url }}">Downloads</a>
    <a href="{{ '/kontakt' | relative_url }}">Kontakt</a>
</nav>