<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SVKT Friesenberg</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
<body>
  
  <div class='content {{ include.content_variant }}'>
    <div class="menu-header">
      <img src="{{ '/assets/images/logo.jpg' | relative_url }}" height="55" />
      <span><a href="mailto:andifuchs@yahoo.com"><img src="{{ '/assets/images/umschlag.svg' | relative_url }}" height="27"/></a></span>
      <img src="{{ '/assets/images/hamburger.svg' | relative_url }}" height="40" />
    </div>
    {% include layout_navigation.html %}