html, body {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #2161b0;
    padding: 2rem;
    color: white;
    font-size: 46px;
    line-height: 56px;
     font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}

.logo {
    max-width: 300px;
}

.band-mit-hintergrundbild {
    background-image: url("../images/fuer_startseite.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
}

.roter-link {
  color: #e7402f;
}

h2 {
    font-size: 27px;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h3 {
  padding: 6px 12px;
  margin-right: 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: rgb(20,100,200);
  
}

.button_blau {
    padding: 1rem;
    background-color: rgb(38,135,255);
    color: white;
}

.button_orange {
    padding: 1rem;
    background-color: rgb(255,102,0);
    color: white;
}