* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
}

.content {
    margin: 0 15px;
}

.content h1 {
    margin: 30 0;
}

h1 {
    font-weight: normal;
    font-size: 35px;
    background-color: rgb(33,97,176);
    color: White;
    margin: 30px -15px !important;
    padding: 15px;
}

h2 {
    font-weight: normal;
    font-size: 27px;
    margin: 15px 0;
}

h3 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
}

h4 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0.2rem;
}

p {
    margin-top: 0.2rem;
}

.menu-header {
    padding: 0.5rem;
    border: 1px rgb(33,97,176) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px -15px !important;
}

.hero-image {
    width: 100%;
}

.note {
    font-size: 0.8em;
}

.kachel {
    width: 15rem;
    // color: white;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 8px;
    margin-bottom: 1rem;
}

.kachel .kachel-inhalt {
    padding: 1rem;
    background-color: rgb(255 255 255 / 0.7);
    min-height: 4rem;
}

.kachel .kachel-titel {
    font-size: 1.2rem;
}

.kachel .kachel-beschreibung {
    font-size: 0.8rem;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: white;
    font-size: 25px;
}

.hidden {
    display: none;
}

.mobile-menu a {
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
}

.menu-container {
    display: flex;
    justify-content: end;
}