html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

h1 {
    background-color: #2161b0;
    padding: 2rem;
    color: white;
    font-size: 3rem;
    line-height: 1.4;
     font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.4;
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
}

h2.titel_startseite {
    font-weight: normal;
    line-height: 1.4;
    color: black;
}

h3 {
  font-size: 2rem;
  line-height: 2;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  color: black;
}

p {
    line-height: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
}

p.lead_startseite {
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.logo {
    max-width: 300px;
}

.band-mit-hintergrundbild {
    background-image: url("../images/fuer_startseite.jpg");
	background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
}

.roter-link {
  color: #e7402f;
}



.button_blau {
    padding: 1rem;
    background-color: rgb(38,135,255);
    color: white;
}

.button_orange {
    padding: 1rem;
    background-color: rgb(255,102,0);
    color: white;
}

