html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
}

h1 {
    font-weight: normal;
    font-size: 35px;
    background-color: rgb(33,97,176);
    color: White;
    margin-bottom: 30px;
    padding: 15px;
}

h2 {
    font-weight: normal;
    font-size: 27px;
}

h3 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
}

h4 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0.2rem;
}

p {
    margin-top: 0.2rem;
    padding: 0px 15px;
}

.menu-header {
    padding: 0.5rem;
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    width: 100%;
}
