<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SVKT Friesenberg</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
<body>
  
  <div class='content {{ include.content_variant }}'>
    <img src="../assets/images/11_SVKT_Frauensportverein_StTheresia_3c.jpg" alt="Logo SVKT Frauensportverein St. Theresia / Friesenberg" class="logo">
    <nav class='site-navigation'>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/verein' | relative_url }}">Verein</a>
      <a href="{{ '/sportangebote' | relative_url }}">Sportangebote</a>
      <a href="{{ '/mitglieder-infos' | relative_url }}">Mitglieder-Infos</a>
      <a href="{{ '/downloads' | relative_url }}">Downloads</a>
      <a href="{{ '/kontakt' | relative_url }}">Kontakt</a>
    </nav>

{{ content }}

  </div>
</body>
</html>