{% include layout_head.html %}
    
    <div class="band-mit-hintergrundbild">
      <div>
        <h2>Kostenloses Probetraining</h2>
        <p class="lead_startseite">Unter „Angebote“ sind unsere Gruppen und Kurse aufgeführt. Auf „Anmeldung“ klicken, E-Mail schreiben und schon bald am Probetraining teilnehmen.</p>
      </div>
      <div class="">
        <a href="{{ '/sportangebote' | relative_url }}" class="button_blau">Angebote</a>
        <a href="mailto:info@svkt-friesenberg.ch" class="button_orange">Anmelden</a>
      </div> 
    </div>

{{ content }}

  </div>
</body>
</html>