<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SVKT Friesenberg</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
<body>
  
  <div class='content {{ include.content_variant }}'>
    <img src="../assets/images/11_SVKT_Frauensportverein_StTheresia_3c.jpg" alt="SVKT Frauensportverein St. Theresia / Friesenberg" class="logo">
    <nav class='site-navigation'>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{% link verein.markdown %}">Verein</a>
      <a href="{% link sportangebote.markdown %}">Sportangebote</a>
      <a href="{% link mitglieder-infos.markdown %}">Mitglieder-Infos</a>
      <a href="{% link downloads.markdown %}">Downloads</a>
      <a href="{% link kontakt.markdown %}">Kontakt</a>
    </nav>
    
    <div class="band-mit-hintergrundbild">
      <div>
        <h2>Kostenloses Probetraining</h2>
        <p>Unter „Angebote“ sind unsere Gruppen und Kurse aufgeführt. Auf „Anmeldung“ klicken, E-Mail schreiben und schon bald am Probetraining teilnehmen.</p>
      </div>
      <div class="">
        <a href="index.php?id=sportangebote" class="button medium normal">Angebote</a>
        <a href="mailto:info@svkt-friesenberg.ch" class="button medium color">Anmelden</a>
      </div> 
    </div>

{{ content }}

  </div>
</body>
</html>